<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.keycloak.userstorage.mapper.UserMapper">
    <select id="selectList" resultType="org.keycloak.userstorage.domain.UserEntity">
        select user_id,login_name,user_name,email,password,salt,status,phonenumber,create_time from sys_user
        <where>
            <if test="search != null and search != ''">login_name like concat('%', #{search}, '%') or user_name like concat('%', #{search}, '%')</if>
        </where>
    </select>

    <select id="selectById" resultType="org.keycloak.userstorage.domain.UserEntity">
        select user_id,login_name,user_name,email,password,salt,status,phonenumber,create_time from sys_user where user_id = #{userId}
    </select>

    <select id="selectByLoginNameOrEmail" resultType="org.keycloak.userstorage.domain.UserEntity">
         select user_id,login_name,user_name,email,password,salt,status,phonenumber,create_time from sys_user where login_name = #{loginName} or email =  #{loginName}
    </select>
    <select id="selectPage" resultType="org.keycloak.userstorage.domain.UserEntity">
        select user_id,login_name,user_name,email,password,salt,status,phonenumber,create_time from sys_user
        <where>
            <if test="search != null and search != ''">login_name like concat('%', #{search}, '%') or user_name like concat('%', #{search}, '%')</if>
        </where>
        limit #{firstResult},#{maxResults}
    </select>
    <select id="count" resultType="java.lang.Integer">
        select count(0) from sys_user
    </select>


    <delete id="deleteUser">
        DELETE FROM sys_user WHERE user_id= #{userId}
    </delete>

</mapper>
